#### List

In [1]:
str = "hello my name is hyemzzzy"

In [2]:
str.split(" ")

['hello', 'my', 'name', 'is', 'hyemzzzy']

In [8]:
list = [1,2,3,4]
list += [5,6,7,8]
list[3:7]

[4, 5, 6, 7]

In [14]:
# 공백을 기준으로 나누어 배열 a에 저장하라
list2 = "I love you, John!"
a = list2.split(" ")
a

['I', 'love', 'you,', 'John!']

In [11]:
# 배열 a의 길이
len(a)

4

#### Tuple (서로 다른 형식의 데이터를 집합으로 생성 가능)

In [15]:
tuple1 = 1234, 5678, 'abcd', 'efgs'
tuple1

(1234, 5678, 'abcd', 'efgs')

In [16]:
tuple2 = tuple1, (1,2,3,4,5)
tuple2

((1234, 5678, 'abcd', 'efgs'), (1, 2, 3, 4, 5))